## GENERAL PARAMS
REACT_APP_SOLANA_NETWORK=mainnet-beta
REACT_APP_SOLANA_RPC_HOST=https://solana-mainnet.g.alchemy.com/v2/6VIejCCVmar7Fw-HuNLA_UfwgEI9w5z2

# Sample mainnet-beta params below for reference:
# REACT_APP_SOLANA_NETWORK=mainnet-beta
# REACT_APP_SOLANA_RPC_HOST=https://solana-mainnet.g.alchemy.com/v2/6VIejCCVmar7Fw-HuNLA_UfwgEI9w5z2

## CANDY SHOP PARAMS
REACT_APP_CANDY_SHOP_CREATOR_ADDRESS=HEYageWQtfnfYrx1VQKPn2eygkAQqAdDF3pJNbe2SDZt
REACT_APP_CANDY_SHOP_TREASURY_MINT=ERERfC4mAwmS9C22ydbEeuyPkPUPahsPmTfVeCez5f2T
REACT_APP_CANDY_SHOP_PROGRAM_ID=csa8JpYfKSZajP7JzxnJipUL3qagub1z29hLvp578iN

## CANDY MACHINE V2 PARAMS
REACT_APP_CANDY_MACHINE_ID=8hE6HPFcTRPvWPZNfZF85gF5xptzsNhV97wXYkKVEf3L

# Additional params to be set if using SPL token as minting currency only:
# SPL Token symbol to display next the price
REACT_APP_SPL_TOKEN_TO_MINT_NAME=0R0R

# SPL Token decimals place defined on creation (default is 9)
REACT_APP_SPL_TOKEN_TO_MINT_DECIMALS=9

# To avoid harmless compilation warnings generating a build error, keep CI set to false
CI=false